* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --switch-bg-switch: url(/moon.svg);
  --overall-background-color: #0c0c14;
  --border-color: rgba(255, 255, 255, 0.5);
  --background-color: rgba(255, 255, 255, 0.1);
  --text-color: white;
}

.light {
  --switch-bg-switch: url(/sun.svg);
  --overall-background-color: #ececf4;
  --border-color: rgba(0, 0, 0, 0.5);
  --background-color: rgba(0, 0, 0, 0.1);
  --text-color: black;
}

body {
  background: var(--overall-background-color);
}

body * {
  font-family: "Finlandica", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--text-color);
}

#container {
  width: 360px;
  margin: 56px auto 0px;
  padding: 0 24px;
}

#profile {
  text-align: center;
  padding: 24px;
}

#profile img {
  border: 2px solid var(--border-color);
  width: 112px;
  border-radius: 50%;
}

#profile p {
  font-weight: 700;
  line-height: 24px;
  margin-top: 8px;
}

#switch {
  position: relative;
  width: 64px;
  margin: 4px auto;
}

#switch button {
  width: 32px;
  height: 32px;
  background: white var(--switch-bg-switch) no-repeat center center/70%;
  border: 0;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  transform: translateY(-50%);
}

.light #switch button {
  right: 0;
  left: initial;
}

#switch span {
  display: block;
  width: 64px;
  height: 24px;
  background: var(--background-color);
  border: 1px solid var(--border-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 9999px;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 0;
}

ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 24px;
  background: var(--background-color);
  border: 1px solid var(--border-color);
  border-radius: 10px;

  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);

  text-decoration: none;
  font-weight: bold;

  transition:
    background 0.5s,
    transform 0.5s;
}

#kick:hover {
  transform: scale(1.1);
  background: rgba(82, 250, 23);
}

#twitch:hover {
  transform: scale(1.1);
  background: rgba(145, 70, 255);
}

#youtube:hover {
  transform: scale(1.1);
  background: rgba(255, 3, 53);
}

#twitter:hover {
  transform: scale(1.1);
  background: rgba(8, 180, 255);
}
