<!doctype html>
<html lang="pt-br" class="">
  <head>
    <%- include("partials/header") %>
    <title>Projeto</title>
    <link rel="stylesheet" href="css/global.css" />
    <link rel="stylesheet" href="css/navbar.css" />
    <link rel="stylesheet" href="css/index.css" />
  </head>
  <body class="index-page">
    <%- include("partials/navbar") %>
    <div id="container">
      <div id="card">
        <div id="profile">
          <div>
            <img src="assets/pfp.jpg" alt="" />
          </div>
          <div id="instagram">
            <a href="https://instagram.com/ghiletofar">@ghiletofar</a>
          </div>
        </div>
        <ul id="middleButton">
          <li>
            <a id="kick" href="https://kick.com/ghile">Kick</a>
          </li>
          <li>
            <a id="twitch" href="https://twitch.tv/ghiletofar">Twitch</a>
          </li>
          <li>
            <a id="youtube" href="https://youtube.com/@ghiletinho">Youtube</a>
          </li>
          <li>
            <a id="twitter" href="https://x.com/ghiletofar">Twitter</a>
          </li>
        </ul>
      </div>
    </div>
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
